<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="light" class="com.king.learn.Light">
		<property name="brand">
			<null/>
		</property>
		<property name="type" value="" />
	</bean>
	<bean id="trafficLight" class="com.king.learn.TrafficLight">
		<constructor-arg ref="light" />
		<constructor-arg value="red" />
	</bean>

</beans>
